/**
 * Created by Deegha on 19/03/2019
 */
 
@import '../../sharedStyles/sharedConsts.scss' ;
 
.space {
  height: 60px;
}
.container {
  height: 20px;
  background-color: #fff;
  z-index: 4;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;

  .wrapper {

    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;

    .headerLeft {
      padding: 20px 0;
      .siteName {
        font-size: 18px;
        font-family: $FONT_PRIMARY;
        margin: 0;
        color: $PRIMARY_COLOR;
        font-weight: 100;
      }
      .logo {
        width:  50px;
        height: 50px;
        margin-right: 5px;
      }

      .logoMobile {
        width: 50px;
        height: 50px;
        margin-right: 5px;
      }
      a {
        text-decoration: none;
        color: #00bcd4;
        display: flex;
        align-items: center;
      }
      .tagline {
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0;
        color: #000;
      }
    }
  
    .headerRight {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px 0;
      a {
        text-decoration: none;
      }
    }
  }
  
  .createPost {
    display: flex;
    align-items: center;
    a {
      margin-right: 10px;
      font-family: $FONT_PRIMARY;
      color: $PRIMARY_COLOR;
      text-decoration: none;
    }
    
  }
}

.createPostLable {
  font-family: $FONT_PRIMARY;
  font-size: 13px;
  
  padding: 10px;
  margin-right: -26px;
  color: #fff;
  animation: activate 10s ease-in;
  opacity: 0;
  display: flex;
  align-items: center;

  .createPostLableTxt {
    background-color: #f9ca24;
    padding: 5px;
  }
}

@keyframes openMenu {
  0% {
    height: 0;
  }
  100% {
    height: 250px;
  }
}


@keyframes activate {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }
  5% {
    opacity: 1;
    transform: translateX(0)
  }

  30% {
    opacity: 1;
    transform: translateX(-5px)
  }

  31% {
    opacity: 1;
    transform: translateX(0)
  }

  34% {
    opacity: 1;
    transform: translateX(-5px)
  }

  35% {
    opacity: 1;
    transform: translateX(0)
  }

  50% {
    opacity: 1;
    transform: translateX(-5px)
  }

  52% {
    opacity: 1;
    transform: translateX(0)
  }

  54% {
    opacity: 1;
    transform: translateX(-5px)
  }

  56% {
    opacity: 1;
    transform: translateX(0)
  }


  80% {
    opacity: 1;
    transform: translateX(0)
  }

  100% {
    opacity: 0;
    transform: translateX(-10px)
  }
}
