
@import '../../sharedStyles//sharedConsts.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  .wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    background-color: #f1f2f6;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5;
    min-height: 150px;
    padding: 50px;
  }

  .feedWrapper {
    width: 60%;
    display: flex;
    
    .feedInnerWrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  .detailswrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;

  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 400px;

    h1 {
      color: #696969;
      font-size: 15px;
      font-family: $FONT_PRIMARY;
      font-weight: 100;
    }

    p {
      color: #696969;
      font-size: 15px;
      font-family: $FONT_PRIMARY;
      font-weight: 100;
    }
  }

  .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}