
@import '../../sharedStyles/sharedConsts.scss';

.fb {
  color: #ffffff;
  background-color: #29487d;
  border-radius: 8px;
  padding: 14px;
  width: 273px;
  font-size: 14px;
  font-family: $FONT_PRIMARY;
  cursor: pointer;
  text-align: center;
}