
@import '../../sharedStyles/sharedConsts.scss';

.container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  .form {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .title {
      font-family: $FONT_PRIMARY, cursive;
      text-align: center;
      color: #00bcd4;
    }
    .formController {
      width: 300px;
      margin: 10px 0;
    }
    .fb {
      color: #ffffff;
      background-color: #29487d;
      border-radius: 8px;
      padding: 14px;
      width: 273px;
      font-size: 14px;
      font-family:  $FONT_PRIMARY;
      cursor: pointer;
    }
    .seperator {
      color: $PRIMARY_COLOR;
      width: 100%;
      opacity: 0.5;
      margin: 20px 0;
      justify-content: flex-start;
      font-family:  $FONT_PRIMARY;
      text-align: center;
      // border-bottom: 1px solid 
    }
  }
}
.image {
  width: 30%;
  text-align: center;
  img{
    width: 100%;
  }
}

.imageMobile {
  width: 100%;
  text-align: center;
  img{
    width: 100%;
  }
}