
@import '../../sharedStyles/sharedConsts.scss';

.container {
  background-color: $WHITE;
  padding: 20px;
  margin: 5px 0;
  // border-radius: 10px;
  // box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  animation: activate 1.2s ease;


  .containerMedia {
    img {
      width: 100%;
      resize: contain;
      box-shadow: 0 2px 16px 0 #00000033;
      margin-bottom: 20px;
      border-radius: 5px;
    }
  }

  .containerDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; 
    .imageWrapper {
   
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      margin-bottom: 10px;
     
    }
    .detailWrapper {
      width: 100%;

      a {
        text-decoration: none;
      }

      .tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        .tag {
          max-width: 100px;
        }
      }

      h1 {
        margin-block-start: 0;
        font-family: $FONT_PRIMARY;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 25px;
        color: #000;
        cursor: pointer;
        margin: 10px 0;
      }

      .auther {
        color: #a4b0be;
        font-style: italic;
        display: flex;
        align-items: center;
        font-size: 10px;

        h2 {
          margin: 0 5px;
          padding: 0;
          display: flex; 
        }

        a {
          font-family: $FONT_PRIMARY;
          font-size: 10px;
          color: #a4b0be;
          font-style: italic;
        }

        strong {
          color: #2d3436;
        }

        .proImage {
          width: 20px;
          height: 20px;
          overflow: hidden;
          border-radius: 50%;
          // box-shadow: 0 2px 16px 0 #00000033;
          margin: 0 5px;
        }

        .sepereator {
          margin: 0 10px 0 5px;
        }
        
        margin: 0 0 20px 0;

        
      }
      p {
        font-family: $FONT_SECONDARY;
        color: #636e72;
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: 14px;
        cursor: pointer;
      }

      .iconArea {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          cursor: pointer;

          .amount {
            margin-left: 5px;
            font-size: 10px;
            color: #636e72;
            font-family: $FONT_PRIMARY;
          }
        }

      }
      
    }
  }
}



@keyframes activate {
  0% {
    opacity: 0;
  }
  100% {
    transform: 1;
  }
}