
@import '../../sharedStyles//sharedConsts.scss';

.container {
  .wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:center;
    

    .createFormOuter {
      margin: 40px 0 10px 0;
      width: 60%;
      max-width: 1000px;
     
      .secondForm {
        width: 100%;
        background-color: #f1f2f6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 14px 0 0 0;
        padding: 20px 0;
        animation: appear .1s ease-out ;
        animation: activate .2s ease-out ;

        .actionsArea {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

        textarea {
          animation: appear .1s ease-out;
          height: 60px;
          width: 95%;
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 15px;
          font-family: $FONT_PRIMARY;
          resize: none;
          overflow: hidden;
          &:focus {
            outline: none;
          }
        }
  
      }

      .optionsBar {
        width: 90%;
        margin: 10px 5px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column; 
        
        .feedImage {
          width: 200px;
          animation: activate .6s ease-out ;
          img {
            width: 100%;
          }
        } 

        .optionsBarTags {
          animation: activate .8s ease-in-out ;
          margin: 10px 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
            flex-wrap: wrap;
          }

          font-size: 10px;
          font-family: $FONT_SECONDARY; 
          color: $PRIMARY_COLOR;
      } 

      .createFeedConainer {
        background-color: #f1f2f6;
        padding: 10px;
        
       
  
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .buttonArea {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
  
          .buttonCreate {
            animation: activate .6s ease-out ;
            background-color: #ED4C67;
            color: #fff;
            font-weight: 800;
            font-size: 12px;
            padding: 10px;
            border-radius: 2px;
            font-family: $FONT_PRIMARY; 
            letter-spacing: 1px;
            cursor: pointer;
          }

          .buttonCreateDis {
            // background-color: #ED4C67;
           
            color: #636e72;
            font-weight: 800;
            font-size: 12px;
            padding: 10px;
            border-radius: 2px;
            font-family: $FONT_PRIMARY; 
            letter-spacing: 1px;
          }
        }
        
        .textAreaWrapper {
          border-radius: 10px;
          padding: 10px;
          width: 80%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: space-between;
          textarea {
            width: 90%;
           
            border: none;
            
            font-size: 15px;
            font-family: $FONT_PRIMARY;
            resize: none;
            overflow: hidden;
            &:focus {
              outline: none;
            
            }
          }
        }
        
  
      }
    }

    

    .wrapperInner {
      max-width: 1000px;
      width: 60%;
    }
  }
}

.maxCharactorWarning {
  color: #e84118;
  animation: activate .8s linear ;
  margin: 8px 25px;
  font-size: 10px;
  font-weight: 800;
  font-family: $FONT_SECONDARY;
}

.boxBorder {
  // animation: appear .8s linear ;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  cursor: pointer;

  input {
    width: 40px;
    opacity: 0;
    cursor: pointer;
  }
}

.loginContainer {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  .closeBtn {
    color: #000;
    top: 5px;
    left: 5px;
    z-index: 6;
    cursor: pointer;
  }

  h3 {
    font-family: $FONT_PRIMARY;
  }
}


@keyframes activate {
  0% {
    opacity: 0;
  }
  100% {
    transform: 1;
  }
}

@keyframes appear {
  0% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}