
$PRIMARY_COLOR : #696969;
$SECONDARY_COLOR:#ff6348;
$BLACK: #000;
$WHITE: #fff;
$BACKGROUND: #f5f6fa;
$TEXT: #57606f;
$TERTARY_COLOR: #ED4C67;

$FONT_PRIMARY: 'Montserrat regular';
$FONT_SECONDARY: 'Montserrat light';
$FONT_PARA: 'Lora regular';